*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
:root{
    --x:400px;
    --y:400px ;
}

.box{
    width: 100%;
    height: 100%;  
    background: radial-gradient(150px at var(--x) var(--y),rgba(255, 255, 255, 0) , rgba(255, 247, 247, 0)  );
}

body{
    background-image: url(https://images.pexels.com/photos/34302395/pexels-photo-34302395.jpeg);
    background-size: cover;
}
