*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    color: green;
    font-size: 2rem;
}